# Laravel standard ignores
/vendor/
/node_modules/
/.env
/.env.*
/storage/*.key
/public/storage
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/*.bat
/storage/app/*.tmp
/storage/app/*.log
/storage/app/private/
/database/*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
